
Body, HTML {
    color: #FFF;
    background-color: #000;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
}

p {
    margin: 12px 0;
}


h4 {
    color: #BF1931;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0px;
}

h4#Name {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 22px !important;
}

hr {
    background-color: transparent;
    background: linear-gradient(90deg, #BF1931 10%, #0000 80%);
    border-width: 0px;
    border-radius: 12px;
    height: 3px;
}

/*Containers*/

.AppContainer {
    display: flex;
}

.Sidebar:first-child {
    margin-left: 1.75em;
}

.Wrapper, .Sidebar {
    background-color: #000;
    border-right: #FFF4 1px solid;
    padding: 0 12px;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    max-height: 100vh;
}

.Sidebar {
    background-color: #2F060C;
    border-left: #5A0C17 1px solid;
    border-right: #5A0C17 1px solid;
    padding: 0 12px;
    max-width: 150px;
}

.Sidebar a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 2px;
    margin-bottom: 12px;
    display: block;
}

.Sidebar a:hover {
    color: #BF1931;
    font-weight: 700;
    letter-spacing: 1px;
}

/*About*/

.Flex {
    display: flex;
}
.Photo {
    border-radius: 8px;
    margin-right: 12px;
    height: 206px;
    display: block;
}