
Body, HTML {
    color: #FFF;
    background-color: #000;
    background-image: url('Wallpaper.png');
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #BF1931;
}

p {
    margin: 12px 0;
}


h4 {
    color: #BF1931;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0px;
}

h4#Name {
    margin-bottom: 12px;
    font-size: 22px !important;
    letter-spacing: 0px;
}

hr {
    background-color: transparent;
    background: linear-gradient(90deg, #BF1931 10%, #0000 80%);
    border-width: 0px;
    border-radius: 12px;
    height: 3px;
}

hr#Thin {
    background: linear-gradient(90deg, #555 10%, #0000 80%);
    margin: 12px 0;
    height: 1px; 
}

/*Containers*/

.AppContainer {
    justify-content: center;
    display: flex;
}

.Wrapper, .Sidebar {
    background-color: #000;
    border-right: #FFF4 1px solid;
    padding: 0 12px;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.Sidebar {
    background-color: #2F060C;
    border-left: #5A0C17 1px solid;
    border-right: #5A0C17 1px solid;
    padding: 0 12px;
    max-width: 150px;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.Sidebar a,
.Title a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 2px;
    margin-bottom: 12px;
    display: block;
}

.Sidebar a:hover,
.Title a:hover {
    color: #BF1931;
    font-weight: 700;
    letter-spacing: 1px;
}

/*Album*/

.MusicHeader:first-child {
    padding-top: 12px;
}

.MusicHeader {
    display: flex;
}

.Title h4 {
    margin-bottom: 4px !important;
}

.CoverLarge {
    border-radius: 3px;
    margin-right: 12px;
    height: 100%;
    width: 280px;
}

/*Buttons*/

.MusicHeader .Button {
    margin-bottom: 12px;
}

.Button {
    color: #FFF;
    background-color: #BF1931;
    border: transparent 1px solid;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 2px;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 100px;
    display: inline-block;
    transition: border-color 0.2s ease-in-out;
}

.Button:hover,
.Button:active {
    border-color: #FFF;
    color: #FFF;
}